<!DOCTYPE html>
<html>

<head>
 
    {%block head%}
    <title>Teste Proveu</title>
    {%endblock%}
    <link rel="stylesheet" href="/styles.css">

</head>

<body>
    <header>
        <div class="links">
          <h4>Teste Proveu</h4>

        </div>

    </header>
    
    {%block content%}

    {%endblock%}

</body>

</html>